<form class="form-horizontal" name="mobileNumberForm" >

    <div class="form-group form-group-lg has-feedback">
        <label for="inputEmail3" class="col-sm-3 control-label">{{ 'phone_number' | translate }}</label>
        <div class="col-sm-5">

            <div ng-if="fail" class="alert alert-danger text-center">
                {{ 'something_went_wrong' | translate }}
            </div>

            <div class="form-group form-group-lg has-feedback" show-errors>
                <div class="col-sm-12">
                    <input class='form-control input-lg' type="text" utils-script="{{ utilsScript }}" 
                    preferred-countries="ps, sa,jo,kw,qa,bh,uae,"
                     responsive-dropdown='true' default-country="ps" international-phone-number name="phoneNumber" ng-model="phoneNumber" ng-required="true" />
                    <span style="top:15px;right: 21px;" ng-show="mobileNumberForm.phoneNumber.$valid" class="fa fa-check-circle text-success form-control-feedback" aria-hidden="true"></span>
                </div>
            </div>
            <div class="form-group form-group-lg">
                <div class="col-sm-12">
                    <button ng-disabled="submittingPhone" type='buttom' ng-click="submitNumber(phoneNumber)" class='btn btn-primary btn-block btn-lg'  analytics-on="click" analytics-event="Send Me SMS button" analytics-category="Checkout">
                        <span> {{ 'send_me_sms' | translate }} </span>
                        <span ng-if="submittingPhone"> <i class="fa fa-spinner fa-spin"></i> 
                        </span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <p class="help-block">
                <strong>{{ 'send_you_verification' | translate }}</strong>
                <br />{{ 'code_to_confirm' | translate }}</p>
        </div>
    </div>
</form>
