<form class="form-horizontal" name="verificationCodeForm">
    <div class="form-group form-group-lg">
        <label for="inputEmail3" class="col-sm-3 control-label">{{ 'verification_code' | translate }}</label>
        <div class="col-sm-5">
            <div class="form-group form-group-lg has-feedback" show-errors>
                <div class="col-sm-12">
                    <div class="input-group">
                        <input id="verification-code" class='form-control' type='text' name="code" ng-model='code' ng-minlength="5" ng-maxlength="7" ng-required='true' placeholder='_______ ' style="font-size: 30px;height: 70px;letter-spacing: 7px;font-family: monospace;text-align: center; color:black; " />
                        <span class="input-group-btn">
                            <a class="btn btn-default" type="button" style="padding: 14px 24px;font-size: 28px;color:black;" disabled><i class="fa fa-lock"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" ng-click="submitCode(code,$event)"  class="btn btn-block book-btn-2 has-label" ng-disabled="booking">
                        <span class="the-label">
                            <i class="fa fa-{{ booking ? 'spin fa-spinner' : 'lock' }}"></i>
                        </span>
                        <span>{{ 'complete_booking' | translate }}</span>
                    </button>
                    <br>
                    <p class="text-center" style="margin-top:10px;">
                        {{ 'agreement_1' | translate }}
                        <a target="_blank" href="https://www.yamsafer.me/en/info/terms-of-use"> {{ 'terms' | translate }}</a> & <a data-placement="top" data-trigger="click" data-template="demo.html" data-auto-close="1" bs-popover ng-click="">{{ 'cancelation_policy' | translate }}</a> {{ 'agreement_2' | translate }}

                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
            <div ng-if="!error">
                <p class="help-block" ng-if="!error">
                    {{ 'code_being_delivered' | translate }}
                    <br>{{ 'minutes_note' | translate }}
                    <br>
                    <strong>
                    <small>
                        <timer autostart="false" countdown="120" max-time-unit="'minute'" interval="1000" finish-callback="timerFinished()">
                        {{mminutes}} {{ 'minute' | translate  }} {{minutesS}}, {{sseconds}} {{ 'second' | translate }} {{secondsS}}</timer> <i class="fa fa-clock-o"></i> {{ 'passed' | translate }}.
                    </small>
                </strong>
                    <span class="text-center" ng-show="timeout">
                    {{ 'did_not_receive_code' | translate }} <br> <a ng-click="tryAgain()" href=""> {{ 'try_different_number' | translate }} </a>
                </span>
                </p>
            </div>
            <div ng-if="error">
                <p class="help-block text-danger">
                    <strong>
                         <i class="fa fa-warning fa-2x pull-left"></i> {{ error.message }}
                         <hr>
                         {{ 'did_not_receive_code' | translate }} <a ng-click="tryAgain()" href="">{{ 'try_different_number' | translate }} </a>
                    </strong>
                </p>
            </div>
        </div>
    </div>
</form>


<script type="text/ng-template" id="demo.html">
    <div class="popover" style="min-width:452px !important;">
        <div class="arrow"></div>
        <h3 class="popover-title"> {{ 'cancellation_policy' | translate }} </h3>
        <div class="popover-content">
            <div class="panel-group" bs-collapse data-animation="false">
                <div class="panel panel-default" ng-repeat="room in order.rooms">
                    <div class="panel-heading">
                        <h4 class="panel-title">
                            <a href="" bs-collapse-toggle ng-bind-html="room.roomName">                            
                            </a>
                      </h4>
                    </div>
                    <div class="panel-collapse" bs-collapse-target>
                        <div class="panel-body" ng-bind-html="room.cancellation_policy">
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>

</script>
