<form class="form-horizontal" name="verificationCodeForm" >
    <div class="form-group form-group-lg">
        <label for="inputEmail3" class="col-sm-3 control-label">Verfication Code</label>
        <div class="col-sm-5">
            <div class="form-group form-group-lg has-feedback" show-errors>
                <div class="col-sm-12">
                    <div class="input-group">
                        <input id="verification-code" class='form-control' type='text' name="code" ng-model='code' ng-minlength="5" ng-maxlength="7" ng-required='true' placeholder='_______ ' style="font-size: 30px;height: 70px;letter-spacing: 7px;font-family: monospace;text-align: center; color:black; " />
                        <span class="input-group-btn">
                            <a class="btn btn-default" type="button" style="padding: 14px 24px;font-size: 28px;color:black;" disabled><i class="fa fa-lock"></i>
                            </a>
                        </span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <button type="button" ng-click='submitCode(code)' class="btn btn-block book-btn-2 has-label" ng-disabled="booking">
                        <span class="the-label">
                            <i class="fa fa-{{ booking ? 'spin fa-spinner' : 'lock' }}"></i>
                        </span>
                        <span>Complete Booking</span>
                    </button>
                </div>
            </div>
        </div>
        <div class="col-sm-4">
        
            <div ng-if="!error">
                <p class="help-block" ng-if="!error">
                    Your code is being delivered by SMS.
                    <br>This may take up to 2:30 minutes depending on your network operator.
                    <br>
                    <strong>
                    <small>
                        <timer autostart="false" countdown="5" max-time-unit="'minute'" interval="1000" finish-callback="timerFinished()">{{mminutes}} minute{{minutesS}}, {{sseconds}} second{{secondsS}}</timer> <i class="fa fa-clock-o"></i> passed.
                    </small>
                </strong>
                    <span class="text-center" ng-show="timeout">
                    Didn't receive code? <br> <a ng-click="tryAgain()" href="">Try a different number</a>
                </span>
                </p>
            </div>

            <div ng-if="error">
                <p class="help-block text-danger">
                    <strong>
                         <i class="fa fa-warning fa-2x pull-left"></i> {{ error.message }}
                         <hr>
                         Didn't receive code ? <a ng-click="tryAgain()" href="">Try a different number</a>
                    </strong>
                </p>
            </div>

        </div>
    </div>
</form>
